/* Fonts  */
@font-face {
    font-family: 'Sofia Pro Regular';
    font-style : normal;
    font-weight: normal;
    src        : local('Sofia Pro Regular'), url('fonts/Sofia Pro Regular Az.woff') format('woff');
}

/* General CSS */
body,
html {
    font-family     : "Sofia Pro Regular";
    background-color: #f9f7f3;
    color           : rgba(26, 26, 23, 1);
    margin          : 0;
    padding         : 0;
}

.container {
    max-width: 1280px;
    margin   : 0 auto;
}

.grid {
    display: grid;
}

.border {
    border: 5px solid black;
}

.input__group {
    position: relative;
}

.input__group input {
    border-radius: 1rem;
    border       : 1px solid rgba(26, 26, 23, 1);
    padding      : .6rem .6rem .6rem 2.25rem;
}

.input__group img {
    position: absolute;
    left    : 8px;
    top     : 8px;
    width   : 20px;
}