/* Colors */
:root {
    --content-color           : rgba(26, 26, 23, 1);
    --white-color             : #d8dadb;
    --blue-color              : #2D82b5;
    --hover-color             : #53A7D8;
    --background-color        : #f9f7f3;
    --background-color-section: rgb(255, 255, 255);
}

/* Fonts  */
@font-face {
    font-family: 'Sofia Pro Regular';
    font-style : normal;
    font-weight: normal;
    src        : local('Sofia Pro Regular'), url('fonts/Sofia Pro Regular Az.woff') format('woff');
}

/* General CSS */
body,
html {
    background-color: var(--background-color);
    color           : var(--content-color);
    font-family     : "Sofia Pro Regular";
    margin          : 0;
    padding         : 0;
}

a {
    text-decoration: none;
    color          : inherit;
}

.container {
    max-width: 1280px;
    margin   : 0 auto;
}

.container--transition {
    background-color: var(--background-color-section);
}

/* grid */
.grid {
    display: grid;
}

.grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid--1x2-footer {
    grid-template-columns: 45fr 55fr;
}

.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
}

/* Buttons */
.btn {
    border       : none;
    border-radius: .5rem;
    color        : inherit;
    cursor       : pointer;
    font-size    : .9rem;
    font-weight  : bold;
    padding      : .75rem 2rem;
}

.btn-primary {
    background-color: var(--blue-color);
    color           : var(--background-color);
    transition      : background-color .2s ease-in-out;
}

.btn-secondary {
    border-radius   : 0;
    border          : 1px solid var(--content-color);
    width           : 100%;
    background-color: var(--background-color-section);
    transition      : border .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
}

.btn-secondary--best {
    color           : var(--content-color);
    background-color: var(--background-color-section);
}

.btn-primary:hover {
    background-color: #095a8d;
}

.btn-secondary:hover {
    color           : var(--background-color);
    background-color: var(--hover-color);
}

.btn-secondary--best:hover {
    border-color    : var(--background-color-section);
    color           : var(--background-color-section);
    background-color: var(--blue-color);
}

/* Responsive  */
@media screen and (max-width: 968px) {
    .grid--1x4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 920px) {
    .grid--1x3 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .grid--1x2,
    .grid--1x3,
    .grid--1x4 {
        grid-template-columns: 1fr;
    }

}