/* Colors */
:root {
    --content-color   : rgba(26, 26, 23, 1);
    --white-color     : #d8dadb;
    --blue-color      : #2D82b5;
    --hover-color     : #53A7D8;
    --background-color: #f9f7f3;
}

/* Fonts  */
@font-face {
    font-family: 'Sofia Pro Regular';
    font-style : normal;
    font-weight: normal;
    src        : local('Sofia Pro Regular'), url('fonts/Sofia Pro Regular Az.woff') format('woff');
}

/* General CSS */
body,
html {
    font-family     : "Sofia Pro Regular";
    background-color: var(--background-color);
    color           : var(--content-color);
    margin          : 0;
    padding         : 0;
}

a {
    text-decoration: none;
    color          : inherit;
}

.container {
    max-width: 1280px;
    margin   : 0 auto;
}

/* Buttons */

.btn {
    border       : none;
    color        : inherit;
    padding      : .75rem 2rem;
    border-radius: .5rem;
    font-weight  : bold;
}

.btn-primary {
    background-color: blue;
    color           : white;
}