<div class="container">
    <div class="author--block">
        <div class="author--leftblock">
            <img class="author--image" src="../assets/153394.jpg" alt="Author Picture">
            <div class="author--followers">
                <h5 class="author--followersCount">Collins Suzanne's followers (255646)</h5>
                <div class="followers--block">
                    <img src="../assets/profile-picture-example.svg"
                        alt="Book img">
                </div>
            </div>
        </div>
        <div class="author--rightblock">
            <h3 class="author--fullname">Collins Suzanne</h3>
            <div class="author--infoblock">
                <div class="author--details">
                    
                    <h5>Born</h5>
                    <p>in Hartford, Connecticut, The United StatesAugust 11, 1962</p>
                    <h5>Website</h5>
                    <a href="http://suzannecollinsbooks.com/" target="_blank"
                        rel="noopener">http://suzannecollinsbooks.com/</a>
                    <h5>Genre</h5>
                    <p class="author--genres">Fiction, Science Fiction & Fantasy, Young Adult</p>
                </div>

                <div class="author--biography">
                    <p>Since 1991, Suzanne Collins has been busy writing for children’s television. She has worked on
                        the staffs of several Nickelodeon shows, including the Emmy-nominated hit Clarissa Explains it
                        All and The Mystery Files of Shelby Woo. For preschool viewers, she penned multiple stories for
                        the Emmy-nominated Little Bear and Oswald. She also co-wrote the critically acclaimed
                        Rankin/Bass Christmas special, Santa, Baby! Most recently she was the Head Writer for Scholastic
                        Entertainment’s Clifford’s Puppy Days.</p>
                    <p>While working on a Kids WB show called Generation O! she met children’s author James Proimos, who
                        talked her into giving children’s books a try.</p>
                    <p>Thinking one day about Alice in Wonderland, she was struck by how pastoral the setting must seem
                        to kids who, like her own, lived in urban surroundings. In New York City, you’re much more
                        likely to fall down a manhole than a rabbit hole and, if you do, you’re not going to find a tea
                        party. What you might find...? Well, that’s the story of Gregor the Overlander, the first book
                        in her five-part series, The Underland Chronicles. Suzanne also has a rhyming picture book
                        illustrated by Mike Lester entitled When Charlie McButton Lost Power.</p>
                    <p>She currently lives in Connecticut with her family and a pair of feral kittens they adopted from
                        their backyard.
                    </p>
                    <p>The books she is most successful for in teenage eyes are The Hunger Games, Catching Fire and
                        Mockingjay. These books have won several awards, including the GA Peach Award.</p>
                </div>

                
                <h5 class="author--booksList">Collins Suzanne's books</h5>
                <div class="author--booksList-block">
                <!-- Books can be mapped below -->
                    <div class="author--book">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SX50_.jpg" alt="Book image">
                        <div class="author--book--details">
                            <h4>The Hunger Games (The Hunger Games, #1)</h4>
                            <div class="align-text">
                                <h5>Rating: 3.81</h5>
                                <h5>Published: Apr 07, 2024</h5>
                            </div>
                        </div>
                    </div>
                    <div class="author--book">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722941i/6148028._SY75_.jpg" alt="Book image">
                        <div class="author--book--details">
                            <h4>The Hunger Games (The Hunger Games, #1)</h4>
                            <div class="align-text">
                                <h5>Rating: 3.81</h5>
                                <h5>Published: Apr 07, 2024</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>