<div class="container">
    <section class="accountSettings">
        <div class="accountSettings__navBar">
            <a href="#/accountSettings/user">
                <h3 class="settings__link ">
                    User
                </h3>
            </a>
            <a href="#/accountSettings/password">
                <h3 class="settings__link">
                    Password
                </h3>
            </a>
            <a href="#/accountSettings/notifications">
                <h3 class="settings__link">
                    Notifications
                </h3>
            </a>
            <a href="#/accountSettings/biling">
                <h3 class="settings__link  accountSettings--active">
                    Biling & Subscription
                </h3>
            </a>
        </div>

        <div class="billing--section">
            <div class="notifications--explanations">
                <h2>Billing & Subscriptions

                </h2>
                <p class="notifications--description">
                    All email settings can be managed only on this page.
                    <br><br>
                    The changes made on this page are automatically saved to your OnlyGreat Reads account settings.
                </p>
            </div>

            <div class="plans--billing">
                <h2>Get Subscription</h2>
                <div class="billing--option">
                    <input type="radio" name="bookwarm" id="bookwarm">
                    <label for="bookwarm">Bookwarm</label>
                </div>
                <div class="billing--option">
                    <input type="radio" name="casual" id="casual">
                    <label for="casual">Casual Reader</label>
                </div>
                <div class="billing--option">
                    <input type="radio" name="notareader" id="notareader">
                    <label for="notareader">Not a reader at all</label>
                </div>

                <button type="submit" class="btn--changePassword btn--buy"> Buy </button>


                <div class="notification--option-block option-billing-toggle">
                    <h3 class="notification--option">Enable OnlyGreatReads.com to email me OnlyGreatReads newsletter
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
            </div>

        </div>
    </section>
</div>