 <!-- Review section -->
 <div class="container">
    <section class="reviews">
      <h3>Ratings & Reviews</h3>
      <div class="reviews__rating">
        <div>
          <img src="assets/icons/star-fill.svg" alt="stars">
          <img src="assets/icons/star.svg" alt="stars">
          <img src="assets/icons/star.svg" alt="stars">
          <img src="assets/icons/star.svg" alt="stars">
          <img src="assets/icons/star.svg" alt="stars">
        </div>
        <p>Rate this book</p>
        <button class="btn--review" type="button">Write a Review</button>
      </div>

      <div class="reviews__community">
        <h3>Community Reviews</h3>
        <div class="reviews__average">
          <div class="reviews__stars">
            <img src="assets/icons/star-fill.svg" alt="stars">
            <img src="assets/icons/star-fill.svg" alt="stars">
            <img src="assets/icons/star-fill.svg" alt="stars">
            <img src="assets/icons/star-fill.svg" alt="stars">
            <img src="assets/icons/star-half.svg" alt="stars">
            <p class="reviews__score"> 4.34</p>
          </div>
          <p class="reviews__ratings"> 8,735,826 ratings <img class="dot--icon" src="assets/icons/dot.svg"
              alt="dot icon"> 219,882
            reviews </p>

          <div class="reviews__stats">
            <div class="ratings-container">
              <div class="rating">
                <h4>5 stars</h4>
                <div class="progress-container">
                  <div class="progress-bar" id="progress-bar-5"></div>
                </div>
              </div>
              <div class="rating">
                <h4>4 stars</h4>
                <div class="progress-container">
                  <div class="progress-bar" id="progress-bar-4"></div>
                </div>
              </div>
              <div class="rating">
                <h4>3 stars</h4>
                <div class="progress-container">
                  <div class="progress-bar" id="progress-bar-3"></div>
                </div>
              </div>
              <div class="rating">
                <h4>2 stars</h4>
                <div class="progress-container">
                  <div class="progress-bar" id="progress-bar-2"></div>
                </div>
              </div>
              <div class="rating">
                <h4>1 star</h4>
                <div class="progress-container">
                  <div class="progress-bar" id="progress-bar-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="reviews__comments">
          <div class="reviews__user">
            <img class="reviews__user--image" src="assets/profile-picture.svg" alt="user profile image">
            <p class="reviews__user--name">Youssef</p>
            <div class="reviews__user--details">
              <p>855 reviews</p>
              <p>14.2k followers</p>
            </div>
            <button class="btn--review" type="button">Follow</button>
          </div>
          <div class="reviews__user--comment">
            <div class="reviews__user--note">
              <div class="user__note--stars">
                <img src="assets/icons/star-fill.svg" alt="stars">
                <img src="assets/icons/star-fill.svg" alt="stars">
                <img src="assets/icons/star-fill.svg" alt="stars">
                <img src="assets/icons/star-fill.svg" alt="stars">
                <img src="assets/icons/star-half.svg" alt="stars">
              </div>
              <p class="user__comment--date">May 25, 2024</p>
            </div>
            <p class="user__comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum in dolore,
              voluptatibus dolorem odit commodi
              a, cupiditate mollitia recusandae dolores dicta tenetur quis architecto esse.</p>

            <div class="userComment__likesComment--block">
              <div class="likesComment--icons">
                <img src="assets/icons/hand-thumbs-up.svg" alt="Thumb Icon">
                <p>Like</p>
                <img src="assets/icons/chat.svg" alt="Chat icon">
                <p>Comment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>