<!-- My Books Page -->
<div class="container">
  <h3>My Books</h3>
  <table class="books">
    <thead>
      <th>Cover</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date Added</th>
      <th>Status</th>
      <th>Review</th>
      <th>Average Rating</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <img
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SX50_.jpg"
            alt="book" />
        </td>
        <td>The Hunger Games (The Hunger Games, #1)</td>
        <td>Collins, Suzanne</td>
        <td>Apr 07, 2024</td>
        <td>Read</td>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>3.81</td>
      </tr>
    </tbody>
  </table>
</div>