<!-- Book Discussion Page -->
<div class="container">
    <h2>
        The Hunger Games Book Discussion
    </h2>
    <div class="discussions">
        <div class="discussions__book">
            <div class="book__informations">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SX50_.jpg"
                    alt="The Hunger Games Book Image">
                <div class="book__details">
                    <h4>The Hunger Games (The Hunger Games, #1)</h4>
                    <p>by Suzanne Collins</p>
                </div>
            </div>
            <div class="book__discussion">
                <!-- <h4 class="topic__title">Topics About This Book</h4> -->
                <div class="topics">
                    <table>
                        <thead>
                            <th>topic's title</th>
                            <th>started by</th>
                            <th>posts</th>
                            <th>views</th>
                            <th>last activity</th>
                        </thead>
                        <tbody>
                            <!-- Map the topics here -->
                            <tr>
                                <td class="tdtopic__title">Goodreads Librari...: The Hunger Games Page Count</td>
                                <td class="tdtopic__author">Jess</td>
                                <td>1 <span class="newtopic__msg">(1 new)</span></td>
                                <td>4</td>
                                <td>9 hours, 36 min ago</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <h4 class="books__discussed--title">Books Being Discussed</h4>
            <div class="books__discussed">

            </div>
        </div>
    </div>
</div>