  <!-- Rating & Reviews Section -->
    <!-- Book Details -->
    <div class="container">
      <section class="bookDetails">
        <div class="bookDetails__left">
          <img class="bookDetails__image"
            src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1586722975i/2767052.jpg"
            alt="book">
          <div class="bookDetails__buttons">
            <button type="button">Add it my books</button>
            <button type="button">Read it</button>
            <button type="button">Wanna read it</button>
            <button type="button">Currently Reading</button>
          </div>
        </div>
        <div class="bookDetails__right">
          <h1 class="bookDetails__title">The Hunger Games</h1>
          <h2 class="bookDetails__author">Suzanne Collins</h2>
          <div class="bookDetails__rating">
            <div>
              <img src="assets/icons/star-fill.svg" alt="star-fill">
              <img src="assets/icons/star-fill.svg" alt="star-fill">
              <img src="assets/icons/star-fill.svg" alt="star-fill">
              <img src="assets/icons/star-fill.svg" alt="star-fill">
              <img src="assets/icons/star-half.svg" alt="star-fill">
            </div>
            <span class="bookDetails__rating">
              4.34
            </span>
          </div>
          <p class="bookDetails__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eaque autem neque repellat harum, eum
            debitis cumque illo quod corporis provident accusamus repellendus aperiam. Eligendi doloribus deserunt qui
            sunt assumenda debitis ullam, odio cumque vel explicabo magni dolorum nulla molestiae. Magnam, minima esse!
            Modi tempore consectetur suscipit facilis, earum corporis.
          </p>
          <div class="bookDetails__genres">
            <h4 class="bookDetails__genre--title">
              Genres
            </h4>
            <h4 class="bookDetails__genre">
              Young Adult
            </h4>
            <h4 class="bookDetails__genre">
              Fiction
            </h4>
            <h4 class="bookDetails__genre">
              Fantasy
            </h4>
            <h4 class="bookDetails__genre">
              Science Fiction
            </h4>
            <h4 class="bookDetails__genre">
              Teen
            </h4>
            <h4 class="bookDetails__genre">
              Audiobook
            </h4>
            <h4 class="bookDetails__genre">
              Post Apocalyptic
            </h4>
          </div>
          <div class="bookDetails__size">
            <h5>374 pages, Hardcover</h5>
            <h5>First published September 14, 2008</h5>
          </div>
          <div class="bookDetails__aboutAuthor">
            <h3>About the author</h3>
            <div class="aboutAuthor">
              <img class="author__picture" src="assets/author.jpg" alt="person-circle icon">
              <div class="author__informations">
                <p class="author__name">
                  Suzanne Collins</p>
                <p class="author__numbers">80 books 101k followers</p>
              </div>
            </div>
            <div class="author__bio">
              <p>
                Since 1991, Suzanne Collins has been busy writing for children’s television. She has worked on the
                staffs of several Nickelodeon shows, including the Emmy-nominated hit Clarissa Explains it All and The
                Mystery Files of Shelby Woo. For preschool viewers, she penned multiple stories for the Emmy-nominated
                Little Bear and Oswald. She also co-wrote the critically acclaimed Rankin/Bass Christmas special, Santa,
                Baby! Most recently she was the Head Writer for Scholastic Entertainment’s Clifford’s Puppy Days.
                <span class="bio--block bio--invisible">
                  <br><br>
                  While working on a Kids WB show called Generation O! she met children’s author James Proimos, who talked
                  her into giving children’s books a try.
                  <br><br>
                  Thinking one day about Alice in Wonderland, she was struck by how pastoral the setting must seem to kids
                  who, like her own, lived in urban surroundings. In New York City, you’re much more likely to fall down a
                  manhole than a rabbit hole and, if you do, you’re not going to find a tea party. What you might find...?
                  Well, that’s the story of Gregor the Overlander, the first book in her five-part series, The Underland
                  Chronicles. Suzanne also has a rhyming picture book illustrated by Mike Lester entitled When Charlie
                  McButton Lost Power.
                  <br><br>
                  She currently lives in Connecticut with her family and a pair of feral kittens they adopted from their
                  backyard.
                  <br><br>
                  The books she is most successful for in teenage eyes are The Hunger Games, Catching Fire and Mockingjay.
                  These books have won several awards, including the GA Peach Award.
                </span>
              </p>
  
              <button onclick="showMoreText()" class="author__bio--btn" type="button">Show more...</button>
  
            </div>
          </div>
          <!-- Add Reviews section here -->
        
        </div>
        
      </section>
    </div>
  