<div class="container--transition">
    <section class="home__cards grid grid--1x3">
      <article class="card">
        <h1>What do we exactly provide to our registered members?</h1>
        <p>
          Each month on the 1st and the 15th, you get a book suggestion with a
          very short description of the litterary value of the book
          suggested.(Five sentences on average) We provide you with two kinds
          of suggestions: 'Books worth reading' and 'Great reads'. The
          subscription fees are US $3.65 per year; in other words, it's 1
          penny per day
        </p>
      </article>
      <article class="card">
        <h1>Our Criteria for defining a great read</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
          quo recusandae quos facilis accusantium debitis voluptates a
          doloremque temporibus similique.
        </p>
      </article>
      <article class="card">
        <h1>Only Great Reads Philosophy</h1>
        <p>
          In the early stage when Only Great Reads was founded, the idea was
          to provide the registred subscribers with only great reads as book
          suggestions.Since we placed the bar of quality on how we define a
          great read at the highest point we could think of, and after an
          extensive research by our team, we couldn't find as many great reads
          as we thought we would. Then, we included the other kind of book
          suggestion 'Books Worth Reading' besides 'Great Reads'. Ultimately,
          our philosophy is to be able at some point in time to provide our
          subscribers only with 'Great Reads' as books recommendations. By
          becoming a registred subscriber, you give life to bringing to
          fruition the vision of Only Great Reads to the world.
        </p>
      </article>
    </section>
  </div>