 <!-- discussionSelected -->
 <div class="container">
    <div class="book__informations">
      <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SX50_.jpg"
        alt="The Hunger Games Book Image">
      <div class="book__details">
        <h4>The Hunger Games (The Hunger Games, #1)</h4>
        <p>by Suzanne Collins</p>
      </div>
    </div>
    <div class="selected__discussion">
      <h3>Have y'all read this book? What do you think of it?
      </h3>
      <div class="author--post">
        <div>
          <div class="post--details">
            <img src="https://images.gr-assets.com/users/1626575164p1/137812055.jpg" alt="LoL">
            <div class="post--informations">
              <span class="author--name">Li</span>
              <span class="post--date">Jul 24, 2021 05:02AM</span>
            </div>
          </div>
          <p class="post--content">I'm asking this question because it's for the reading assignment. Y'all must know
            about the tasks, right?
            reply flag</p>
        </div>
      </div>
      <div class="selected__discussion--userMessage">
        <div class="post--details">
          <img src="https://images.gr-assets.com/users/1626575164p1/137812055.jpg" alt="LoL">
          <div class="post--informations">
            <span class="author--name">Li</span>
            <span class="post--date">Jul 24, 2021 05:02AM</span>
          </div>
        </div>
      </div>
    </div>
  </div>