<!-- Footer -->
<div class="container--transition">
    <footer class="footer">
      <section class="footer__container grid grid--1x2-footer">
        <section>
          <h3>OnlyGreatReads</h3>
        </section>
        <section class="grid grid--1x3">
          <article class="footer__description">
            <h3>OnlyGreatReads.com COMPANY</h3>
            <a href="#">Our Mission</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </article>
          <article class="footer__description">
            <h3>WORK WITH OnlyGreatReads.com</h3>
            <a href="#">Advertise</a>
            <a href="#">Authors Program</a>
            <a href="#">We Hire</a>
          </article>
          <article class="footer__description">
            <h3>Links</h3>
            <a href="#">www.onlygreatmovies.com</a>
            <a href="#">www.onlygreatvideogames.com</a>
          </article>
        </section>
      </section>
      <section class="footer__details">
        <p>© 2017 - 2024, OnlyGreatReads.com, Inc.</p>
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
        <p>Vulnerability Disclosure Policy</p>
        <p>Information Collection Notice</p>
        <p>
          <img
            class="social_icon"
            src="assets/icons/facebook.svg"
            alt="Facebook Icon"
          />
        </p>
        <p>
          <img
            class="social_icon"
            src="assets/icons/instagram.svg"
            alt="Instagram Icon"
          />
        </p>
        <p>
          <img
            class="social_icon"
            src="assets/icons/twitter.svg"
            alt="Twitter Icon"
          />
        </p>
      </section>
    </footer>
  </div>