<!-- Home section  -->
<div class="container">
  <section class="home grid grid--1x2">
    <article>
      <div class="headers">
        <h1 class="header__title">
          <span class="header__title--highlight">+18,400,000</span> Library
          Books
        </h1>
        <h1 class="header__subtitle">
          Books handpicked by knowledgeable people
        </h1>
      </div>
      <p class="home__content">
        We recommend great reads from a library of +18.4 million books to our
        registred members
      </p>
      <button class="btn btn-primary">Learn More</button>
    </article>
    <article class="home__image">
      <img src="/assets/4085.jpg " alt="Library with books" />
    </article>
  </section>
</div>  

<!-- Cards -->
 <div class="container--transition">
  <section class="home__cards grid grid--1x3">
    <article class="card">
      <h1>What do we exactly provide to our registered members?</h1>
      <p>
        Each month on the 1st and the 15th, you get a book suggestion with a
        very short description of the litterary value of the book
        suggested.(Five sentences on average) We provide you with two kinds
        of suggestions: 'Books worth reading' and 'Great reads'. The
        subscription fees are US $3.65 per year; in other words, it's 1
        penny per day
      </p>
    </article>
    <article class="card">
      <h1>Our Criteria for defining a great read</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
        quo recusandae quos facilis accusantium debitis voluptates a
        doloremque temporibus similique.
      </p>
    </article>
    <article class="card">
      <h1>Only Great Reads Philosophy</h1>
      <p>
        In the early stage when Only Great Reads was founded, the idea was
        to provide the registred subscribers with only great reads as book
        suggestions.Since we placed the bar of quality on how we define a
        great read at the highest point we could think of, and after an
        extensive research by our team, we couldn't find as many great reads
        as we thought we would. Then, we included the other kind of book
        suggestion 'Books Worth Reading' besides 'Great Reads'. Ultimately,
        our philosophy is to be able at some point in time to provide our
        subscribers only with 'Great Reads' as books recommendations. By
        becoming a registred subscriber, you give life to bringing to
        fruition the vision of Only Great Reads to the world.
      </p>
    </article>
  </section>
</div> 

<!-- Quote -->
<!-- <div class="container">
  <h1 class="quote"> Don't miss out on a great read that comes once in a while!</h1>
</div> -->

<!-- Plans -->
<div class="container">
  <div class="plans--block">
  <div class="plans__title">
    <h1 >Memberships</h1>
    <h2 >Choose this if you'are...</h2>
  </div>
    
    <section class="plans">
      <article class="plan">
        <div class="plan__topBlock">
          <h1 class="plan__title">Bookworms</h1>
          <p class="plan__description"> If you can't get enough of great reads</p>
          <img class="plan__image"  src="../assets/bookworm.jpg" alt="Book IMAGE">
          <div class="plan__prices">
            <h2>$ 10,95/year</h2>
            <div class="plan__prices--details">
              <span>3x $ 3.65/year</span>
              <span>or</span>
              <span>3 pennies/day</span>
            </div>
          </div>
        </div>
        <article class="plan__features">
          <div class="plan__feature">
            <img  class="feature--check-icon" src="../assets/icons/check-lg.svg" alt="">
            <p> 12 Books recommendations/year</p>
          </div>
          <div class="plan__feature">
            <img  class="feature--check-icon" src="../assets/icons/check-lg.svg" alt="">
            <p> Premium account</p>
          </div>
          <div class="plan__feature">
            <img  class="feature--check-icon" src="../assets/icons/check-lg.svg" alt="">
            <p> Full access to chat</p>
          </div>
        </article>
      </article>
      <article class="plan plan--popular">
        <div class="plan__topBlock">
          <h2 class="plan__title">Intermittent readers</h2>
          <p class="plan__description"> Looking for books recommendations for yourself and/or those dear to you!</p>
          <img class="plan__image"  src="../assets/intermitend.jpg" alt="Book Image">
          <div class="plan__prices">
            <h2>$ 7,3/year</h2>
            <div class="plan__prices--details">
              <span>2x $ 3,65/year</span>
              <span>or</span>
              <span>2 pennies/day</span>
            </div>
          </div>
        </div>
        <article class="plan__features">
          <div class="plan__feature">
            <img class="feature--check-icon" src="../assets/icons/check-lg.svg" alt="">
            <p> 4 Books recommendations/year</p>
          </div>
          <div class="plan__feature">
            <img  class="feature--check-icon" src="../assets/icons/check-lg.svg" alt="">
            <p> Full access to chat</p>
          </div>
        </article>
      </article>
      <article class="plan plan__notMuchReader">
        <div class="plan__topBlock">
          <h1 class="plan__title">Not much of a reader at all</h1>
          <p class="plan__description"> Looking for books recommendations for those dear to you!</p>
          <img class="plan__image"  src="../assets/notareader.jpg" alt="Books Image">
          <div class="plan__prices">
            <h2>$ 3,65/year</h2>
            <div class="plan__prices--details">
              <span>1x $ 3.65/year</span>
              <span>or</span>
              <span>1 pennies/day</span>
            </div>
          </div>
        </div>
        <article class="plan__features">
          <div class="plan__feature">
            <img  class="feature--check-icon" src="../assets/icons/check-lg.svg" alt="">
            <p> 1 Books recommendations/year</p>
          </div>
          <div class="plan__feature">
            <img  class="feature--check-icon" src="../assets/icons/check-lg.svg" alt="">
            <p> Full access to chat</p>
          </div>
        </article>
      </article>
    
    </section>
  </div>
</div>

<!-- Footer -->
<div class="container--transition">
  <footer class="footer">
    <section class="footer__container">
      <section class="grid grid--1x4">
        <article class="footer__description">
          <h3>OnlyGreatReads.com COMPANY</h3>
          <a href="#">About Us</a>
          <a href="#">Our Mission</a>
          <a href="#">Our Philosophy</a>
          <a href="#">Contact Us</a>
        </article>
        <article class="footer__description">
          <h3>Work With Us</h3>
          <a href="#">Advertise</a>
          <a href="#">We Hire</a>
        </article>
        <article class="footer__description">
          <h3>Authors Program</h3>
          <a href="#">Authors Program</a>
        </article>
        <article class="footer__description">
          <h3>Links</h3>
          <a href="#">www.onlygreatreads.com</a>
        </article>
      </section>
    </section>
    <section class="footer__details">
      <div class="details--social">
        <p>
          <img class="social_icon" src="../assets/icons/facebook.svg" alt="Facebook Icon" />
        </p>
        <p>
          <img class="social_icon" src="../assets/icons/instagram.svg" alt="Instagram Icon" />
        </p>
        <p>
          <img class="social_icon" src="../assets/icons/twitter.svg" alt="Twitter Icon" />
        </p>
      </div>
      <div class="details--copyright">
        <p>© 2017 - 2024, OnlyGreatReads.com, Inc.</p>
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
        <p>Vulnerability Disclosure Policy</p>
        <p>Information Collection Notice</p>
      </div>
    </section>
  </footer>
</div> 