<!-- Simple JS Function "toggleFormOptions" is in scripts.js  -->
<!-- Login Form -->
<div class="container container--centered">
    <form class="login" action="">
        <div class="login__options">
            <h4> <a href="#/loginForm">Login</a></h4>
            <h4 class="active--option"> <a href="#/loginForm">Login with OTP</a></h4>
            <h4> <a href="#/registerForm">Register</a></h4>

        </div>
        <div class="login--option">
            <label class="login__label" for="email">Email</label>
            <input class="login__input" placeholder="Email" type="text" name="email" id="email" />

        </div>

        <div class="login__buttons">
            <a onclick="logIn()" class="login__button" href="#/OTPVerification"> Log In With OTP</a>
            <a class="login__forgotpwd" href="#">Forgot Password?</a>
        </div>
    </form>
</div>