<div class="container">
    <section class="accountSettings">
        <div class="accountSettings__navBar">
            <a href="#/accountSettings/user">
                <h3 class="settings__link ">
                    User
                </h3>
            </a>
            <a href="#/accountSettings/password">
                <h3 class="settings__link">
                    Password
                </h3>
            </a>
            <a href="#/accountSettings/notifications">
                <h3 class="settings__link accountSettings--active">
                    Notifications
                </h3>
            </a>
            <a href="#/accountSettings/biling">
                <h3 class="settings__link">
                    Biling & Subscription
                </h3>
            </a>
        </div>
    </section>
</div>