<div class="container">
    <section class="accountSettings">
        <div class="accountSettings__navBar">
            <a href="#/accountSettings/user">
                <h3 class="settings__link ">
                    User
                </h3>
            </a>
            <a href="#/accountSettings/password">
                <h3 class="settings__link">
                    Password
                </h3>
            </a>
            <a href="#/accountSettings/notifications">
                <h3 class="settings__link accountSettings--active">
                    Notifications
                </h3>
            </a>
            <a href="#/accountSettings/biling">
                <h3 class="settings__link">
                    Biling & Subscription
                </h3>
            </a>
        </div>

        <div class="notifications--settings">
            <div class="notifications--explanations">
                <h2>Notifications settings
                </h2>
                <p class="notifications--description">Configure all the types of email notifications across all
                    OnlyGreatReads services you would like to
                    receive.
                    <br><br>
                    All email settings can be managed only on this page.
                    <br><br>
                    The changes made on this page are automatically saved to your OnlyGreat Reads account settings.
                </p>
            </div>
            <div class="notifications--options">
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable OnlyGreatReads.com to email me OnlyGreatReads newsletter
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable OnlyGreatReads.com to email me messages sent from direct
                        messenger
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable OnlyGreatReads.com to email me comments made on my posts
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable OnlyGreatReads.com to email me replies made on my comments
                        or replies
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable OnlyGreatReads.com to email me likes made on my posts,
                        comments or replies
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable OnlyGreatReads.com to email me my username is tagged in a
                        post, comment, or reply
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable Browser Push Notification
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Enable Sound Alerts
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">The browser I'm using will play sounds when a new alert comes in
                    </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>
                <div class="notification--option-block">
                    <h3 class="notification--option">Reset all notifications settings to OnlyGreatReads Settings by
                        default </h3>
                    <img class="toggle-icon" src="../assets/icons/toggle-on.svg" alt="toggle-on icon">
                </div>

            </div>
        </div>
    </section>
</div>