<!-- Simple JS Function "toggleFormOptions" is in scripts.js  -->
<!-- Login Form -->
<div class="container container--centered">
    <form class="login" action="">
        <div class="login__options">
            <h4 class="active--option"> <a href="#/loginForm">OTP Verification</a></h4>
        </div>
        <div class="login--option">
            <label class="login__label" for="otpCode">Please enter the OTP code</label>
            <input class="login__input" placeholder="Please enter the OTP code" type="text" name="otpCode" id="otpCode" />

        </div>
        <div class="login__buttons">
            <a onclick="logIn()" class="login__button" href="#/"> Verify OTP</a>
        </div>
    </form>
</div>