<div class="container">
    <section class="accountSettings">
        <div class="accountSettings__navBar">
            <a href="#/accountSettings/user">
                <h3 class="settings__link">
                    User
                </h3>
            </a>
            <a href="#/accountSettings/password">
                <h3 class="settings__link  accountSettings--active">
                    Password
                </h3>
            </a>
            <a href="#/accountSettings/notifications">
                <h3 class="settings__link">
                    Notifications
                </h3>
            </a>
            <a href="#/accountSettings/biling">
                <h3 class="settings__link">
                    Biling & Subscription
                </h3>
            </a>
        </div>
        <div class="user__informations--password">
            <h2>Change your passwod </h2>
            <div class="form-container-password form-container-password">
                <div class="form-group-password form-group-password">
                    <div class="input-container-password">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" id="oldPassword" value="">
                    </div>
                    <div class="input-container-password">
                        <label for="newPassword">New Password</label>
                        <input type="password" id="newPassword" value="">
                    </div>
                    <div class="input-container-password">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" id="confirmPassword" value="">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn--changePassword"> Update Password </button>
        </div>
    </section>



</div>