<div class="container">
    <section class="plans card">
      <h1 class="plans__header">Get One-Time Book Suggestion(s)</h1>

      <div class="plans grid grid--1x3">
        <article class="plan__option">
          <div>
            <h2>1 Book</h2>
            <h1>1$</h1>
            <p class="plan__option--detail">Lorem ipsum dolor sit.</p>
          </div>
          <div class="plan__option--description last__option">
            <p class="plan__option--text">
              Lorem, ipsum
              <img
                class="info__icon"
                src="assets/icons/info.svg"
                alt="Info icon"
              />
            </p>
            <p class="plan__option--text">
              Lorem, ipsum
              <img
                class="info__icon"
                src="assets/icons/info.svg"
                alt="Info icon"
              />
            </p>
            <p class="plan__option--text">
              Lorem, ipsum
              <img
                class="info__icon"
                src="assets/icons/info.svg"
                alt="Info icon"
              />
            </p>
          </div>
          <button class="btn btn-secondary">Buy</button>
        </article>
        <article class="plan__option plan__option--best">
          <div>
            <h2>2 Books</h2>
            <h1>2.5$</h1>
            <p class="plan__option--detail">Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="plan__option--description last__option">
            <p class="plan__option--text option__text--best">
              Lorem, ipsum
              <img
                class="info__icon"
                src="assets/icons/info-best.svg"
                alt="Info icon"
              />
            </p>
            <p class="plan__option--text option__text--best">
              Lorem, ipsum
              <img
                class="info__icon"
                src="assets/icons/info-best.svg"
                alt="Info icon"
              />
            </p>
            <p class="plan__option--text option__text--best">
              Lorem, ipsum
              <img
                class="info__icon"
                src="assets/icons/info-best.svg"
                alt="Info icon"
              />
            </p>
          </div>
          <button class="btn btn-secondary btn-secondary--best">Buy</button>
        </article>
        <article class="plan__option">
          <div>
            <h2>3 Books</h2>
            <h1>5$</h1>
            <p class="plan__option--detail">
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
          <div class="plan__option--description last__option">
            <p class="plan__option--text">
              Lorem, ipsum
              <img
                class="info__icon"
                src="assets/icons/info.svg"
                alt="Info icon"
              />
            </p>
            <p class="plan__option--text">
              Lorem, ipsum<img
                class="info__icon"
                src="assets/icons/info.svg"
                alt="Info icon"
              />
            </p>
            <p class="plan__option--text">
              Lorem, ipsum<img
                class="info__icon"
                src="assets/icons/info.svg"
                alt="Info icon"
              />
            </p>
          </div>
          <button class="btn btn-secondary">Buy</button>
        </article>
      </div>
    </section>