<div class="container">
    <h3>Search Result</h3>
    <div class="searchResult--details">
        <p>Founds 23 books (0.15s)</p>
    </div>
    <section class="searchResult">
        <!-- My Books Page -->
        <div class="container--noPadding">
            <table class="books">
                <thead>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date Added</th>
                    <th>Status</th>
                    <th>Review</th>
                    <th>Average Rating</th>
                </thead>
                <tbody>
                    <!-- Map Result in <tr> -->
                    <tr>
                        <td>
                            <a href="#/bookDetails">
                                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SX50_.jpg"
                                    alt="book" />
                            </a>
                        </td>
                        <td>The Hunger Games (The Hunger Games, #1)</td>
                        <td><a href="#/authorPage">Collins, Suzanne</a></td>
                        <td>Apr 07, 2024</td>
                        <td>Read</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>3.81</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#/bookDetails">
                                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SX50_.jpg"
                                    alt="book" />
                            </a>
                        </td>
                        <td>The Hunger Games (The Hunger Games, #1)</td>
                        <td><a href="#/authorPage">Collins, Suzanne</a></td>
                        <td>Apr 07, 2024</td>
                        <td>Read</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>3.81</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="pagination-block">
        <div class="pagination">
            <button class="pagination-btn" type="button">Previous</button>
            <ul class="pagination-pages">
                <li class="pagination-page active-page">1</li>
                <li class="pagination-page">2</li>
            </ul>
            <button class="pagination-btn" type="button">Next</button>
        </div>
      
    </div>
</div>