.bookDetails__genre--title,
.bookDetails__size,
.bookDetails__author {
    font-family: "Sofia Pro ExtraLight";
}

.author__informations,
.author__bio {
    font-family: "Sofia Pro Light";
}


.bookDetails {
    display              : grid;
    grid-template-columns: 20fr 80fr;
    gap                  : 6rem;
}

.bookDetails__image {
    margin          : 0 auto;
    width           : 100%;
    background-color: red;
    border-radius   : 1rem;
}

.bookDetails__buttons {
    display       : flex;
    flex-direction: column;
    width         : 100%;
}

.bookDetails__buttons button {
    cursor       : pointer;
    margin-top   : .75rem;
    background   : none;
    border       : 2px solid var(--content-color);
    padding      : .5rem;
    border-radius: 1rem;
}



.bookDetails__title {
    font-size: 1.75rem;
}

.bookDetails__author {
    font-style: 1.5rem;
}

.bookDetails__rating {
    font-size: 1.35rem;
    display  : flex;
}

.bookDetails__rating div {
    margin-right: 1rem;
    margin-top  : .175rem;
}

.bookDetails__genres {
    display    : flex;
    align-items: center;
}




.bookDetails__genres h4 {
    margin-right  : 1rem;
    padding-bottom: .25rem;
}

.bookDetails__genre {
    padding-bottom: .25rem;
    border-bottom : 2px solid var(--blue-color);
}

.bookDetails__size h5 {
    margin: .75rem 0;

}

.bookDetails__size {
    padding      : .5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205)
}

.author__informations {
    margin-left   : 1rem;
    display       : flex;
    flex-direction: column;
}

.aboutAuthor {
    display    : flex;
    align-items: center;
}

.author__picture {
    width        : 72px;
    height       : 72px;
    border-radius: 50%;
}

.author__informations p {
    margin: 0 0 .5rem 0;
}

.author__numbers {
    opacity: .8;
}

.author__bio {
    margin : 0;
    padding: 1rem 0 0 0;
}

.bio__btn--block {
    position: relative;
}

.author__bio--btn {
    cursor         : pointer;
    font-weight    : bold;
    text-decoration: underline;
    margin         : 0;
    padding        : 0 0 3rem 0;
    border         : none;
    background     : none;
}

.bio--invisible {
    display: none;
}