/* Homepage - Hero Page CSS  */
.home {
    height         : 60vh;
    padding        : 0 2rem 10rem 2rem;
    justify-content: center;
    align-items    : center;
    justify-items  : center;
}

.headers h1 {
    font-size: 3rem;
}

.header__title--highlight {
    color: var(--blue-color);
}

.header__title {
    margin: 0rem 0rem 1rem 0;
}

.header__subtitle {
    margin: 0 0 1.75rem 0;
}

.home__content {
    font-size: 1.5rem;
    margin   : 0 0 2.25rem 0;
}

.home__image img {
    width: 100%;
}

/* Responsive */
@media screen and (max-width: 968px) {
    .headers h1 {
        font-size: 2.35rem;
    }

    .home {
        height        : 100vh;
        padding-bottom: 10rem;
    }

    .home__content {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .home__image {
        padding: 3rem 4rem 0 4rem;
    }

    .headers h1 {
        font-size: 2.25rem;
    }

    .home__content {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 500px) {
    .home__image {
        padding: 3rem 1rem 0 1rem;
    }
}