/* Logo CSS */
.logo {
    margin-right: 2rem;
    font-weight : bold;
}

.logo p {
    margin: 0;
}

/* Navigation Bar CSS */
.navbar__leftgroup {
    display    : flex;
    align-items: center;
}

.navbar__rightgroup {
    display: flex;
}

.navbar {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 1.5rem 1.25rem;
}

.navbar__links {
    display    : flex;
    align-items: center;
}

.navbar__mobile {
    display: none;
}

.navbar__login--mobile {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    margin-top     : 1.5rem;
}

.navbar__login_btn--mobile,
.navbar__signup_btn--mobile {
    text-align   : center;
    width        : 80%;
    border       : 1px solid black;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    padding      : .5rem 0;
}

.navbar__signup_btn--mobile {
    border          : 1px solid #2D82b5;
    color           : white;
    background-color: #2D82b5;
}

.navbar__login {
    display    : none;
    align-items: center;
    position   : relative;
}

.navbar__login a {
    margin-right: 1.75rem;
}

.navbar__login_btn:after {
    content         : "";
    position        : absolute;
    left            : 0;
    bottom          : 10px;
    width           : 0;
    height          : 2px;
    background-color: #000;
    transition      : width 0.1s ease-in-out;
}

.navbar__login_btn:hover::after {
    opacity: .8;
    width  : 45px;
}

.navbar__login_btn:hover {
    opacity: .8;
}

.navbar__signup_btn {
    transition   : .25s color;
    color        : #2D82b5;
    border       : 1px solid #53A7D8;
    padding      : .75rem 1.25rem;
    border-radius: 1.5rem;
}

.navbar__signup_btn:hover {
    color      : #d8dadb;
    background : #2D82b5;
    font-weight: bold;
}

.navbar__mobile--connected {
    display: none;
}

/* Search bar CSS */
.input__group {
    position: relative;
}

.input__group input {
    border-radius: 1rem;
    border       : 1px solid rgba(26, 26, 23, 1);
    padding      : .6rem .6rem .6rem 2.25rem;
}

.input__group img {
    position: absolute;
    left    : 8px;
    top     : 8px;
    width   : 20px;
}

/* Icons style */
.icon,
.book__icon,
.mobile__icon,
.profile__picture {
    cursor: pointer;
}

.icon {
    margin-right    : .75rem;
    width           : 26px;
    padding         : .5rem;
    background-color: rgba(242, 240, 233, 1);
    border-radius   : 50%;
}

.icon:hover {
    background-color: rgb(201, 200, 198);
}

.book__icon {
    border      : none;
    padding     : 10px 20px;
    cursor      : pointer;
    margin-right: 1rem;
}

.mobile__icon {
    width: 32px;
}

.book__icon::after {
    content         : "";
    display         : block;
    width           : 0;
    height          : 2px;
    background-color: #000;
    transition      : width 0.3s ease-in-out;
}

.book__icon:hover::after {
    width: 100%;
}

/* Profile name and profile picture style */
.profile__picture {
    position        : relative;
    margin-right    : .75rem;
    width           : 26px;
    height          : 26px;
    padding         : .5rem;
    background-color: rgba(242, 240, 233, 1);
    border-radius   : 50%;
    background-image: url("../assets/profile-picture.svg");
    background-size : cover;
}

.profile__name--mobile {
    width         : 80%;
    margin        : 0 auto;
    display       : flex;
    flex-direction: column;
    border-bottom : 1px solid rgba(146, 146, 146, 0.596);
}

.profile__name p {
    margin        : 0;
    display       : flex;
    flex-direction: column;
    border-bottom : 1px solid rgba(0, 0, 0, 0.233);
    margin-bottom : 1rem;
}

.profile__name small {
    opacity    : .7;
    margin-top : -12px;
    margin-left: 1px;
}


/* Dropdown Menu */
.dropdown_menu {
    display         : none;
    position        : absolute;
    transform       : translate(-85%, 20%);
    line-height     : 2rem;
    background-color: rgb(211, 210, 206);
    padding         : .5rem 1.5rem;
    border-radius   : .25rem;
}

.dropdown_menu a {
    white-space: nowrap;
}

.dropdown_menu a:hover {
    color: #53A7D8;
}

.dropdown_menu--container {
    padding-bottom: 1rem;
}

.dropdown_menu--item {
    align-items: center;
    display    : flex;
}

.dropdown_menu--item img {
    width       : 20px;
    margin-right: 1rem;
}

/* Mobile Version */
@media screen and (max-width:910px) {
    .navbar {
        display: none;
    }

    .navbar__mobile {
        padding        : 1.5rem 1.25rem;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
    }

    .navbar__mobile--container {
        display         : none;
        position        : absolute;
        left            : 0;
        background-color: white;
        height          : 100vh;
        width           : 320px;
        top             : 0;
    }

    .navbar__mobile--links {
        transition: 1s all;
        animation : fadeFromLeft .1s forwards;
        list-style: none;
        padding   : 2rem 2rem 0.25rem 2rem;
        width     : 250px;
        margin    : 0;
    }

    .navbar__mobile--links li {
        text-align   : left;
        margin-bottom: 1.75rem;
        font-size    : 1rem;
        font-weight  : bold;
        cursor       : pointer;
    }

    .navbar__mobile--logo {
        margin       : 0 auto;
        padding      : 2rem 0 1.2rem 0;
        width        : 80%;
        font-size    : 1.5rem !important;
        border-bottom: 1px solid rgba(146, 146, 146, 0.596);
    }

    .navbar__mobile--exitButton {
        cursor  : pointer;
        position: absolute;
        top     : 0.5rem;
        right   : 0.5rem;
    }


}

/* Mobile NavBar Animation */
@keyframes fadeFromLeft {
    0% {
        width  : 0;
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        width  : 250px;
        display: block;
    }
}