/* Homepage Buying options */
.plans--block{
    padding: 4rem 0;
}

.plans {
    padding              : 2rem 0;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 1rem;
}

.plan {
    box-shadow:
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    background-color: var(--background-color-section);
    padding         : 1.5rem 2rem;
}

.plan--popular {
    color              : var(--background-color-section);
    background-color   : var(--blue-color);
    background-image   : url(../assets/icons/bookmarks-fill.svg);
    background-repeat  : no-repeat;
    background-position: 93% -3%;
    background-size    : 10%;
}

.plan__topBlock{
    height: 225px;
}

.plans__title{
    text-align: center;
    margin: 0;
}

.plans__title h1{
    font-size: 2.25rem;
}

.plans__title h2{
    opacity: .9;
    font-weight: lighter;
    margin: 0;
}

.plan__title {
    margin   : 0;
    padding  : .5rem 0;
    font-size: 2rem;
}

.plan__description {
    padding  : 0 0 .95rem 0;
    font-size: 1.15rem;
}

.plan__prices {
    padding-bottom: 2rem;
}

.plan__prices h2 {
    margin: 0 0 .25rem 0;
}

.plan__prices--details {
    opacity    : .8;
    font-weight: lighter;
    font-style : italic;

}

.plan__prices--details span {
    margin-right: .15rem;
}

.prices-asterisk-icon {
    width: 10px;
}

.plan__features {
    border-top : 1px solid rgb(0 0 0 / 10%);
    padding: 1rem 0;
}


.feature--check-icon {
    width        : 20px;
    padding-right: 1rem;
}

.plan__feature {
    padding-top: 1rem;
    display    : flex;
    align-items: center;
}

.plan__feature p {
    font-weight: bold;
    opacity    : .8;
    margin     : 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .plans {
        margin: 0 auto;
    }
}